<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moonica.fdm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Moonica"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.Forum" />
        <activity android:name=".controller.Home" />
        <activity android:name=".controller.SceltaFacolta"></activity>
        <activity android:name=".controller.Home" />
        <activity
            android:name=".controller.Registrazione"
            android:parentActivityName=".controller.Login" />
        <activity android:name=".controller.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>